					<section class="featured">
						<div class="container">

							<div class="row">

								<div class="col-md-6">
									<h2 class="push-top">Premium <strong>Features</strong></h2>
									<p class="lead">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
									</p>
									<p class="tall">
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel.
									</p>
								</div>
								<div class="col-md-6 push-top">
									<img class="img-responsive" src="/static/img/promo.jpg" data-appear-animation="fadeInRight">
								</div>
							</div>
						</div>
					</section>
