					<div class="container">
						<div class="row center">
							<div class="col-md-12">
								<h2 class="short word-rotator-title">
									Porto is
									<strong class="inverted">
										<span class="word-rotate">
											<span class="word-rotate-items">
												<span>incredibly</span>
												<span>especially</span>
												<span>extremely</span>
											</span>
										</span>
									</strong>
									beautiful and fully responsive.
								</h2>
								<p class="featured lead">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
								</p>
							</div>
						</div>

						<div class="row push-top">
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="icon icon-group"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Customer Support</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="icon icon-file"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">HTML5 / CSS3 / JS</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="icon icon-google-plus"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">500+ Google Fonts</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="image-icon small user"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Icons</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="icon icon-bars"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Buttons</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="icon icon-desktop"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Lightbox</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
									</div>
								</div>
							</div>
						</div>

					</div>
