{% load cms_tags %}
					<div class="container">

						<div class="row featured-boxes">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
							<!--  <div class="col-md-3">
								<div class="featured-box featured-box-primary">
									<div class="box-content">
										<i class="image-icon user big"></i>
										<h4>Loved by Customers</h4>
										<p>Donec id elit non mi fusce dapibus.<a href="/" class="learn-more">learn more <i class="icon icon-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="featured-box featured-box-secundary">
									<div class="box-content">
										<i class="icon-featured icon icon-book"></i>
										<h4>Well Documented</h4>
										<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.<a href="/" class="learn-more">learn more <i class="icon icon-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="featured-box featured-box-tertiary">
									<div class="box-content">
										<i class="icon-featured icon icon-trophy"></i>
										<h4>Winner</h4>
										<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.<a href="/" class="learn-more">learn more <i class="icon icon-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="featured-box featured-box-quaternary">
									<div class="box-content">
										<i class="icon-featured icon icon-cogs"></i>
										<h4>Customizable</h4>
										<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. <a href="/" class="learn-more">learn more <i class="icon icon-angle-right"></i></a></p>
									</div>
								</div>
							</div> -->
						</div>
					</div>
