					<section class="footer">
						<div class="container">
							<div class="row">

								<hr class="tall">

								<div class="col-md-12">
									<div class="recent-posts">
										<h2>Latest <strong>Blog</strong> Posts</h2>
										<div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 4, "singleItem": false, "autoHeight": true}'>
											<div>
												<article>
													<div class="date">
														<span class="day">15</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
											<div>
												<article>
													<div class="date">
														<span class="day">12</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
											<div>
												<article>
													<div class="date">
														<span class="day">15</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
											<div>
												<article>
													<div class="date">
														<span class="day">15</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
											<div>
												<article>
													<div class="date">
														<span class="day">12</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
											<div>
												<article>
													<div class="date">
														<span class="day">15</span>
														<span class="month">Jan</span>
													</div>
													<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
												</article>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
