	<div class="parsys_column cq-colctrl-lt0-c0">
		<div class="title section"><a href="{{ instance.product_page }}"><h3>{{ instance.product.name }}</h3></a>
		</div>
		<div class="parbase image cq-analyzable section">
			<div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;6_1219677056079"><a href="/static/content/geometrixx/en/products/triangle.html"><img title="Triangle Packshot" alt="Triangle Packshot" class="cq-dd-image" src="{{ instance.product.image.url }}"></a></div>
		</div>
		<div class="text parbase section">
			{{ instance.product.description|safe }} 
		</div>
	</div>
