<div class="footer container_16">
    <div class="grid_6">
        <h3>&copy; 2014 Geometrixx Inc.</h3>
        <div class="toolbar"><ul><li class="first ">
                        <a href="/static/content/geometrixx/en/toolbar/feedback.html">Feedback</a>
                    </li><li class="">
                        <a href="/static/content/geometrixx/en/toolbar/newsletter.html">Newsletter</a>
                    </li><li class="">
                        <a href="/static/content/geometrixx/en/toolbar/search.html">Search</a>
                    </li><li class="">
                        <a href="/static/content/geometrixx/en/toolbar/sitemap.html">Sitemap</a>
                    </li><li class="last">
                        <a href="/static/content/geometrixx/en/toolbar/blog.html">Blog</a>
                    </li></ul>
<!--cq{"decorated":true,"type":"foundation/components/toolbar","path":"/static/content/geometrixx/en/products/jcr:content/toolbar","selectors":null,"servlet":"Script /libs/foundation/components/toolbar/toolbar.jsp","totalTime":18,"selfTime":18}-->
<cq data-path="/static/content/geometrixx/en/products/jcr:content/toolbar" data-config="{&quot;path&quot;:&quot;/content/geometrixx/en/products/jcr:content/toolbar&quot;,&quot;type&quot;:&quot;foundation/components/toolbar&quot;,&quot;csp&quot;:&quot;contentpage|page/toolbar&quot;}"></cq>
</div>

    </div>
    <div class="grid_6">
        <h3>Geometrixx Newsletter</h3>
        <p>We would like to keep in touch with you. Sign up here to receive our monthly newsletter on the latest products and services from Geometrixx.</p>
        <div class="form_section">
            <form action="" method="post">
                <fieldset>
                    <div class="input_box1">
                        <label for="f-newsletter-subscription" style="display: none;">Enter your email address</label>
                        <input class="cq-auto-clear" type="text" value="Your Email Adress" name="" id="f-newsletter-subscription"/>
                    </div>
                    <input type="button" value="" name="" class="sign_up"/>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="grid_4">
        <h3>Follow us</h3>
        <ul>
            <li><a href="#"><img class="icon_facebook" src="/static/etc/designs/default/0.gif" alt=""/> Let&rsquo;s get together on Facebook</a></li>
            <li><a href="#"><img class="icon_twitter" src="/static/etc/designs/default/0.gif" alt=""/> Follow us on Twitter</a></li>
            <li><a href="/static/content/geometrixx_mobile/en.html"><img class="icon_mobile" src="/static/etc/designs/default/0.gif" alt=""/> We&rsquo;re mobile!</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
