        <div class="par parsys"><div class="flash parbase section"><div  class="cq-dd-flash" style="width:100&#x25;;height:160px;background:transparent url('/content/geometrixx/en/products/jcr%3Acontent/par/flash/image/jcr%3Acontent.res/flash.gif') no-repeat center center;"><div id="_content_geometrixxenproductsjcrcontentparflash_swf">&nbsp;</div></div>
        <script type="text/javascript">
GraniteClientLibraryManager.write([{"p":"/static/etc/clientlibs/foundation/swfobject.js","c":["extjs","ie6"]}],false);
</script>

        <script type="text/javascript">
            if( window.CQ_swfobject) CQ_swfobject.embedSWF(CQ.shared.HTTP.getXhrHookedURL("/static/content/dam/geometrixx/movies/shape_summit.swf"), "_content_geometrixxenproductsjcrcontentparflash_swf", "100\x25", "160", "9.0.0", CQ.shared.HTTP.getXhrHookedURL("/static/etc/clientlibs/foundation/swfobject/swf/expressInstall.swf"), {backgroundColor:"ffffff"}, {menu:"false",wmode:"opaque"}, {});
        </script>
        
</div>