	<div class="parsys_column cq-colctrl-lt0-c0">
		<div class="title section"><a href="/static/content/geometrixx/en/products/triangle.html"><h3>Triangle</h3></a>
		</div>
		<div class="parbase image cq-analyzable section">
			<div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;6_1219677056079"><a href="/static/content/geometrixx/en/products/triangle.html"><img title="Triangle Packshot" alt="Triangle Packshot" class="cq-dd-image" src="/static/content/geometrixx/en/products/_jcr_content/par/6_1219677056079.img.jpg/1368002782118.jpg"></a></div>
		</div>
		<div class="text parbase section">
			<p>The triangle is an old favorite. It combines the simplicity of three-sidedness with the reliability of having only two dimensions. And with the new finds off the coast of Madagascar coming online, triangle prices are lower than ever! </p>
 			<p>If you like the look of the triangle but want to upgrade to three dimensions, why not take a look at the tetrahedron?</p>
 
		</div>
	</div>
