{% load cms_tags %}
<div class="title section"><h2>Our Bestsellers</h2>
</div>
<div class="parsys_column cq-colctrl-lt0">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
	<!--  
	<div class="parsys_column cq-colctrl-lt0-c0">
		<div class="title section"><a href="/static/content/geometrixx/en/products/triangle.html"><h3>Triangle</h3></a>
		</div>
		<div class="parbase image cq-analyzable section">
			<div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;6_1219677056079"><a href="/static/content/geometrixx/en/products/triangle.html"><img title="Triangle Packshot" alt="Triangle Packshot" class="cq-dd-image" src="/static/content/geometrixx/en/products/_jcr_content/par/6_1219677056079.img.jpg/1368002782118.jpg"></a></div>
		</div>
		<div class="text parbase section">
			<p>The triangle is an old favorite. It combines the simplicity of three-sidedness with the reliability of having only two dimensions. And with the new finds off the coast of Madagascar coming online, triangle prices are lower than ever! </p>
 			<p>If you like the look of the triangle but want to upgrade to three dimensions, why not take a look at the tetrahedron?</p>
 
		</div>
	</div>
	<div class="parsys_column cq-colctrl-lt0-c0">
		<div class="title section"><a href="/static/content/geometrixx/en/products/square.html"><h3>Square</h3></a>
		</div>
		<div class="parbase image cq-analyzable section"><div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;image_0"><img title="Square Packshot" alt="Square Packshot" class="cq-dd-image" src="/static/content/geometrixx/en/products/_jcr_content/par/image_0.img.jpg/1310039379559.jpg"></div>
		</div>
		<div class="text parbase section">
			<p>If you like triangles but are looking for something with 90 degree angles, try the square.</p>
	
			<p>At Geometrixx we use only the finest naturally occurring squares. Unlike our competitors we never edge-bond two right triangles to form a square, because we believe only natural squares give you the reliability that you need. </p>
	
			<p></p>
	
			<p></p>
	
			<p></p>
	
	
	
		</div>
	</div>
	-->
</div>
<div style="clear:both"></div>
<!-- NOTE: the below commented HTML represents one 2-column row
<div class="parsys_column cq-colctrl-lt0">
	<div class="parsys_column cq-colctrl-lt0-c0">
		<div class="title section"><a href="/static/content/geometrixx/en/products/circle.html"><h3>Circle</h3></a>
		</div>
		<div class="parbase image cq-analyzable section">
			<div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;image"><a href="/static/content/geometrixx/en/products/circle.html"><img title="Circle Packshot" alt="Circle Packshot" class="cq-dd-image" src="/static/content/geometrixx/en/products/_jcr_content/par/image.img.jpg/1310039351368.jpg"></a></div>
		</div>
		<div class="text parbase section">
			<p>Timeless beauty. Classic simplicity. It must be the circle! Each Geometrixx-brand circle is handcrafted from an infinite number of very skinny isoceles triangles arrange in, well, a circle! We guarantee that our circles are not simply<i> n</i>-gons, where <i>n</i> is a very large number; ours are guaranteed round, no matter how closely you look.</p>



		</div>
	</div>
	<div class="parsys_column cq-colctrl-lt0-c1">
		<div class="title section"><a href="/static/content/geometrixx/en/products/mandelbrot.html"><h3>Mandelbrot Set</h3></a>
		</div>
		<div class="parbase image cq-analyzable section"><div id="cq-image-jsp-&#x2f;content&#x2f;geometrixx&#x2f;en&#x2f;products&#x2f;jcr&#x3a;content&#x2f;par&#x2f;image_2"><a href="/static/content/geometrixx/en/products/mandelbrot.html"><img title="Mandelbrot Set Packshot" alt="Mandelbrot Set Packshot" class="cq-dd-image" src="/static/content/geometrixx/en/products/_jcr_content/par/image_2.img.jpg/1310039365351.jpg"></a></div>
		</div>
		<div class="text parbase section">
			<p>Ready to take the next step? The Mandelbrot set is now available for a low introductory price of only $1500. Never before has a countably infinite set of numbers been so affordable.</p>

			<p></p>
			
			<p></p>
			
			<p></p>
			
			<p></p>
			
			<p></p>
			
			<p></p>
			
			<p></p>
			
			<p></p>



		</div>
	</div>
</div>
<div style="clear:both"></div>
 -->