<div class="parsys rightpar iparsys"><div class="iparys_inherited"><div class="parsys rightpar iparsys"><div class="parbase teaser section">
        
        <div id="_content_geometrixx_en_jcr_content_rightpar_teaser" class="campaign campaign-geometrixx"><div class="par parsys"><div class="title section"><h3>{{ instance.heading }}</h3>
</div>
<div class="text parbase section">
{{ instance.description|safe }}
</div>
<div class="parbase image section"><div id="cq-image-jsp-&#x2f;content&#x2f;campaigns&#x2f;geometrixx&#x2f;default_teaser&#x2f;jcr&#x3a;content&#x2f;par&#x2f;image"><img title="Geometrixx App" alt="Geometrixx App" class="cq-dd-image" src="{{ instance.image.url }}"></div>
</div>
</div>
        </div> 
</div>
</div>
</div>

</div>

