					<div class="slider-container light">
						<div class="slider" id="revolutionSlider">
							<ul>
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

									<img src="/static/img/slides/slide-bg-light.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

									<div class="tp-caption sft stb visible-lg"
										 data-x="72"
										 data-y="180"
										 data-speed="300"
										 data-start="1000"
										 data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border-light.png" alt=""></div>

									<div class="tp-caption top-label lfl stl"
										 data-x="122"
										 data-y="180"
										 data-speed="300"
										 data-start="500"
										 data-easing="easeOutExpo">DO YOU NEED A NEW</div>

									<div class="tp-caption sft stb visible-lg"
										 data-x="372"
										 data-y="180"
										 data-speed="300"
										 data-start="1000"
										 data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border-light.png" alt=""></div>

									<div class="tp-caption main-label sft stb"
										 data-x="30"
										 data-y="210"
										 data-speed="300"
										 data-start="1500"
										 data-easing="easeOutExpo">WEB DESIGN?</div>

									<div class="tp-caption bottom-label sft stb"
										 data-x="80"
										 data-y="280"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo">Check out our options and features.</div>

									<div class="tp-caption sfb"
										 data-x="460"
										 data-y="70"
										 data-speed="500"
										 data-start="2500"
										 data-easing="easeOutBack"><img src="/static/img/slides/slide-light-1.jpg" alt=""></div>

								</li>
							</ul>
						</div>
					</div>
